
{% extends './home.html' %}
{% load static %}
{% block homehead %}
	<title>My Social Network</title>
	<link rel="stylesheet" href={% static '/core/timeline.css' %}>
{% endblock homehead %}
    
{% block home %}
    
<div class="posts-container">
	
  {% for post in posts  %}
	<div class="post">
	  <img src={% static 'img/default_dp.png' %} alt="Profile Picture">
	  <h2><a href="#">Goblin</a></h2>
	  <p>
            {{post.post_description}}

      </p> 
        <br>
        <h6>number of likes: {{post.numbers_of_likes}}</h6>      
        <div class="post-buttons">
        <form method='POST'>
        {% csrf_token %}
        <input type='hidden' value="{{post.pk}}" name='like'>
		<button class="like-button">Like</button>
        </form>
		<button class="comment-button">Comment</button>
	  </div>
	</div>
    {% endfor %}
  </div>
  
  {% endblock home %}