{% extends './navBar.html' %}
{%block navbar%}

<form action={% url 'authentication:resat-password' %} method="post">
    {% csrf_token %}
    <div class="container">
      <h1>Updat your password</h1>
      <hr>
      <br>
      <input type="hidden" value={{uid}} name="uid" required>
      <br>
      <label for="psw"><b>Password</b></label>
      <br>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <br>
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <br>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      <div class="clearfix">
        <button type="submit" class="signupbtn">Update</button>
      </div>
    </div>
  </form>

  {%endblock navbar%}